<div class="Show_profile align_middle">
    <h1>Profile</h1>
    <%= render "profiles/user" %>
    <% if current_user == @user %>
        <%= link_to "Edit profile", edit_user_registration_path %>
    <% else %>
        <h3>Orders</h3>
        <table class="table table-dark table-striped-columns table-hover align_middle">
            <thead>
                <tr>
                    <th scope="col" colspan="2">Time</th>
                    <th scope="col" colspan="2">Place</th>
                    <th scope="col" colspan="1">Diameter</th>
                    <th scope="col" colspan="1">Depth</th>
                </tr>
            </thead>
            <tbody>
                <% @orders.each do |order| %>

                    <% if order.user == @user %>
                        <tr>
                            <td colspan="2"><%= order.created_at %></td>
                            <td colspan="2"><%= order.place %></td>
                            <td colspan="1"><%= order.diameter %> mm</td>
                            <td colspan="1"><%= order.depth %> m</td>
                        </tr>
                    <% end %>
                <% end %>
            </tbody>
        </table>
        <%= link_to "Back to orders", orders_path %>
    <% end %>
</div>
