<div id="<%= dom_id drilling %>">
  <p>
    <strong>Year:</strong>
    <%= drilling.year %>
  </p>

  <p>
    <strong>Place:</strong>
    <%= drilling.place %>
  </p>

  <p>
    <strong>Name:</strong>
    <%= drilling.name %>
  </p>

  <p>
    <strong>Type:</strong>
    <%= drilling.drilling_type %>
  </p>

  <p>
    <strong>Amount:</strong>
    <%= drilling.amount %> db
  </p>

  <p>
    <strong>Drilled depth:</strong>
    <%= drilling.drilled_depth %> fm
  </p>

</div>
