<div class="secondary">
    <h3 class="widget-title">Szolgáltatásaink</h3>
    <ul>
        <li><a href="/home/authorization">Kutak engedélyezése</a></li>
        <li><a href="/home/drilling">Kútfúrás</a></li>
        <li><a href="/home/compensation">Kármentesítés</a></li>
    </ul>
</div>
<div class="secondary">
    <a href="/">
        <div class="image">
            <img src="<%= asset_path('Banyai_kutfuras_logo.jpg') %>" title="kútfúró" width=300>
        </div>
    </a>
</div>
<div class="secondary">
    <h3 class="widget-title">Jó tudni!</h3>
    <ul class="xoxo blogroll">
        <li><a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=A0700101.KVV" rel="noopener" title="A vízkútfúrás szakmai követelményeiről, és a felszín alatti vízkészletekbe történő beavatkozásról" target="_blank">A kútfúrás törvényi szabályozásai</a></li>
        <li><a href="https://njt.hu/jogszabaly/2017-41-20-0A" title="A vízjogi engedélyezési eljáráshoz szükséges kérelemről és mellékleteiről szóló kormányrendelet">Engedélyezési tervek tartalmi követelményei cégeknek</a></li>
        <li><a href="http://net.jogtar.hu/jr/gen/hjegy_doc.cgi?docid=99700123.KOR" title="A vízbázisok, a távlati vízbázisok, valamint az ivóvízellátást szolgáló vízilétesítmények védelméről szóló kormányrendelet">Sérülékeny vízbázisok védelme</a></li>
        <li><a href="https://njt.hu/jogszabaly/2015-13-20-0A" title="A környezetvédelmi, természetvédelmi, valamint a vízügyi hatósági eljárások igazgatási szolgáltatási díjairól">Vízügyi Hatóság eljárási díjai cégeknek</a></li>
    </ul>
</div>
<div class="secondary">
    <h3 class="widget-title">Kútfúrás kisokos - letölthetők</h3>
    <ul class="xoxo blogroll">
        <li><a href="/" title="Rövid összefoglalás a kútfúrás menetéről">Hogyan zajlik a kútfúrás?</a></li>
        <li><%= link_to "Jegyzős kút adatlap minta", "/furt_kut_jegyzoi_eng.doc", title: "Jegyzős kút adatlap minta", download: "furt_kut_jegyzoi_eng.doc" %></li>
        <li><%= link_to "Kútszerkezeti terv – megfigyelő kút", "/megfigyelokut_muszaki_kikepzes.xls", title:"Milyen részekből áll a professszionálisan működő kút?", download: "megfigyelokut_muszaki_kikepzes.xls" %></li>
        <li><%= link_to "Kútszerkezeti terv – termelőkút", "/termelokut_muszaki_kikepzes.xls", download: "termelokut_muszaki_kikepzes.xls" %></li>
        <li><%= link_to "Műszaki adatlap minta", "/Muszaki_adatlap_minta.xls", title:"Műszaki adatlap minta", download: "Muszaki_adatlap_minta.xls" %></li>
    </ul>
</div>
