<div class="secondary">
    <h3 class="widget-title">Szolgáltatásaink</h3>
    <ul>
        <li><a href="/home/authorization">Kutak engedélyezése</a></li>
        <li><a href="/home/drilling">Kútfúrás</a></li>
        <li><a href="/home/compensation">Kármentesítés</a></li>
    </ul>
</div>
<div class="secondary">
    <a href="/">
        <div class="image">
            <img src="<%= asset_path('Banyai_kutfuras_logo.jpg') %>" title="kútfúró" width=300>
        </div>
    </a>
</div>
<div class="secondary">
    <h3 class="widget-title">Jó tudni!</h3>
    <ul class="xoxo blogroll">
        <li><%= link_to @secondary_link_1.name, @secondary_link_1.link, rel: "noopener", title: @secondary_link_1.description, target: "_blank" %><li>
        <li><%= link_to @secondary_link_2.name, @secondary_link_2.link, rel: "noopener", title: @secondary_link_2.description, target: "_blank" %><li>
        <li><%= link_to @secondary_link_3.name, @secondary_link_3.link, rel: "noopener", title: @secondary_link_3.description, target: "_blank" %><li>
        <li><%= link_to @secondary_link_4.name, @secondary_link_4.link, rel: "noopener", title: @secondary_link_4.description, target: "_blank" %><li>
    </ul>
</div>
<div class="secondary">
    <h3 class="widget-title">Kútfúrás kisokos - letölthetők</h3>
    <ul class="xoxo blogroll">
        <li><a href="/" title="Rövid összefoglalás a kútfúrás menetéről">Hogyan zajlik a kútfúrás?</a></li>
        <li><%= link_to @secondary_link_5.name, @secondary_link_5.link, rel: "noopener", title: @secondary_link_5.description, target: "_blank" %><li>
        <li><%= link_to @secondary_link_6.name, @secondary_link_6.link, rel: "noopener", title: @secondary_link_6.description, target: "_blank" %><li>
        <li><%= link_to @secondary_link_7.name, @secondary_link_7.link, rel: "noopener", title: @secondary_link_7.description, target: "_blank" %><li>
        <li><%= link_to @secondary_link_8.name, @secondary_link_8.link, rel: "noopener", title: @secondary_link_8.description, target: "_blank" %><li>
    </ul>
</div>

