<div class="References">
	<header>
		<h1>Referenciák</h1>
	</header>

    <div class="container">
        <div class="row">
            <% if user_signed_in? %>
                <% if current_user.is_admin %>
                    <p>
                        <%= link_to "Új kúttervezés referencia.", new_reference_path %> - 
                        <%= link_to "Új kútfúrás referencia.", new_drilling_path %>
                    <p>
                <% end %>
            <% end %>

            <div id="references">
                <p>
                    <a href="#kuttervezes">Kúttervezés referenciák</a><br>
                    <a href="#kutfuras">Kútfúrás referenciák</a><br>
                </p>

                <a name="kuttervezes"></a>
                <h2>Kúttervezés</h2>

                <% @references_by_year.each do |year, references| %>
                    <h2><%= year %></h2>
                    <table class="table table-danger table-striped-columns align_middle">
                        <thead>
                            <tr>
                                <th scope="col" colspan="7">Project Description</th>
                                <th scope="col" colspan="4">Project Type</th>
                                <% if user_signed_in? %>
                                    <% if current_user.is_admin %>
                                        <th colspan="1"></th>
                                    <% end %>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% references.each do |ref| %>
                            <tr>
                                <td scope="col" colspan="7"><%= ref.project_description %></td>
                                <td scope="col" colspan="4"><%= ref.project_type %></td>
                                <% if user_signed_in? %>
                                    <% if current_user.is_admin %>
                                        <td scope="col" colspan="1"><%= link_to "Show", ref %></td>
                                    <% end %>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% end %>

                <a name="kutfuras"></a>
                <h2>Kútfúrás</h2>
                <% @drillings_by_year.each do |year, references| %>
                    <h2><%= year %></h2>
                    <table class="table table-danger table-striped-columns align_middle">
                        <thead>
                            <tr>
                                <th>Hol</th>
                                <th>Kinek</th>
                                <th>Mit</th>
                                <th>Mennyit</th>
                                <th>Összesen</th>
                                <% if user_signed_in? %>
                                    <% if current_user.is_admin %>
                                        <th scope="col" colspan="1"></th>
                                    <% end %>
                                <% end %>
                            </tr>
                        </thead>
                        <tbody>
                            <% references.each do |ref| %>
                            <tr>
                                <td><%= ref.name %></td>
                                <td><%= ref.place %></td>
                                <td><%= ref.drilling_type %></td>
                                <td><%= ref.amount %> db</td>
                                <td><%= ref.drilled_depth %> fm</td>
                                <% if user_signed_in? %>
                                    <% if current_user.is_admin %>
                                        <td colspan="1"><%= link_to "Show", ref %></td>
                                    <% end %>
                                <% end %>
                            </tr>
                            <% end %>
                        </tbody>
                    </table>
                <% end %>
            </div>
        </div>
	</div>
</div>
