<%= form_with(model: order) do |form| %>
  <% if order.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(order.errors.count, "error") %> prohibited this order from being saved:</h2>

      <ul>
        <% order.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form_row">
    <%= form.label :place, style: "display: block" %>
    <%= form.text_field :place, placeholder: "47.154407 : 16.584029" %>
  </div>

  <div class="form_row">
    <%= form.label :depth, style: "display: block" %>
    <%= form.number_field :depth, class: "form-range", type: 'range', min: 1, max: 25, step: 1, id: 'depth-range' %><br>
    <span id="depth-value"><%= @order.depth || 0 %></span>
    <span> m</span>
  </div>
  
  <div class="form_row">
    <%= form.label :diameter, style: "display: block" %>
    <%= form.select :diameter, options_for_select([160, 200]) %>
    <span> mm</span>
  </div>

  <div>
    <%= form.number_field :user_id, id: :order_user_id, class:"form-control", value: current_user.id, type: :hidden %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

<script>
  document.addEventListener("DOMContentLoaded", () => {
    const range = document.getElementById("depth-range");
    const valueDisplay = document.getElementById("depth-value");

    if (range && valueDisplay) {
      // Show initial value
      valueDisplay.textContent = range.value;

      // Update value live as the slider moves
      range.addEventListener("input", () => {
        valueDisplay.textContent = range.value;
      });
    }
  });
</script>
