<% content_for :title, "Orders" %>

<h1>Orders</h1>

<div id="orders">

  <table class="table table-dark table-striped table-hover">
    <thead>
      <tr>
        <% if current_user.is_admin %>
          <th scope="col">User</th>
        <% end %>
        <th scope="col">Place</th>
        <th scope="col">Diameter</th>
        <th scope="col">Depth</th>
        <th colspan="3"></th>
      </tr>
    </thead>
    <tbody>
      <% if current_user.is_admin %>
        <% @orders.each do |order| %>
          <tr>
            <td><%= order.user_id %></td>
            <td><%= order.place %></td>
            <td><%= order.diameter %></td>
            <td><%= order.depth %></td>
            <td><%= link_to "Show", order %></td>
            <td><%= link_to "Edit", edit_order_path(order) %></td>
            <td><%= link_to "Destroy", order, method: :delete, data: { confirm: "Are you sure?" } %></td>
          </tr>
        <% end %>
      <% else %>
        <% @orders.each do |order| %>

          <% if order.user == current_user %>
            <tr>
              <td><%= order.place %></td>
              <td><%= order.diameter %></td>
              <td><%= order.depth %></td>
              <td><%= link_to "Show", order %></td>
              <td><%= link_to "Edit", edit_order_path(order) %></td>
              <td><%= link_to "Destroy", order, method: :delete, data: { confirm: "Are you sure?" } %></td>
            </tr>
          <% end %>
        <% end %>
      <% end %>
    </tbody>
  </table>


</div>

<%= link_to "New order", new_order_path %>
